<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">d01mu</a>
    </div>
    <ul class="nav navbar-nav" style="margin-top: 15px;">
        <li style="margin-right: 10px;">
            <table>
            <tr>
            <td><img src="about.png" height="16" width="16"></td>
            <td>&nbsp;<a href="#about">About</a></td>
            </tr>
            </table>
        </li>
        <li style="margin-right: 10px;">
            <table>
            <tr>
            <td><img src="web.png" height="16" width="16"></td>
            <td>&nbsp;<a href="#web">Web</a></td>
            </tr>
            </table>
        </li>
        <li style="margin-right: 10px;">
            <table>
            <tr>
            <td><img src="mobile.png" height="16" width="16"></td>
            <td>&nbsp;<a href="#mobile">Mobile</a></td>
            </tr>
            </table>
        </li>
        <li style="margin-right: 10px;">
            <table>
            <tr>
            <td><img src="projects.png" height="16" width="16"></td>
            <td>&nbsp;<a href="#projects">Projects</a></td>
            </tr>
            </table>
        </li>
        <li style="margin-right: 10px;">
            <table>
            <tr>
            <td><img src="bots.png" height="16" width="16"></td>
            <td>&nbsp;<a href="#bots">Bots</a></td>
            </tr>
            </table>
        </li>
        <li style="margin-right: 10px;">
            <table>
            <tr>
            <td><img src="contact.png" height="16" width="16"></td>
            <td>&nbsp;<a href="#contact">Contact</a></td>
            </tr>
            </table>
        </li>
    </ul>
</nav>
