<div class="header" id="web">
    <div class="headertext">
        <img src="web.png" height="17.5" width="17.5">
        Web
    </div>
</div>
<% for (var result in web) { %>
<% if (result % 2 == 0) { %>
<div class="box1">
<% } else {%>
<div class="box2">
<% } %>
    <div class="flex">
        <div class="imagetext">
            <img src="<%= web[result].image %>" height="64" width="64">
        </div>
        <div class="desctext">
            <div class="itemtext">
                <a href="<%= web[result].link %>"><%= web[result].title %></a>
            </div>
            <div class="desc">
                <%= web[result].body %>
            </div>
            <div class="small">
                Built with: <%= web[result].built %>
            </div>
        </div>
    </div>
</div>
<% } %>
