<!DOCTYPE html>

<html lang="en" ng-app=app>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    <div ng-controller="main">
        <input type="text" ng-model="firstName" placeholder="firstname">
        <input type="text" ng-model="lastName" placeholder="firstname">
        <button ng-disabled="!(firstName.length && lastName.length)"ng-click="add()">Add</button>
        <br>
        <br>
        <table>
            <tr ng-repeat="p in employees">
                <td>{{p._id}}</td>
                <td><span>{{p.firstName}} {{p.lastName}}</span></td>
                <td><button ng-click="$parent.remove(p)">Remove</button></td>
            </tr>
        </table>
    </div>

    <div ng-controller="logger">
        <pre>
        <p ng-repeat="e in events track by $index">{{$index}} -
        {{e}}</p>
        </pre>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
    var test = 'aa';

    var app = angular.module('app', []);

    app.controller('main', ['$scope', '$http', '$rootScope',
        function($scope, $http, $rootScope) {
            $scope.employees = [];
            $scope.firstName = $scope.lastName = '';

        $http.get('/getemp').then(function (response){
                $scope.employees = response.data;
                $rootScope.$emit('log', 'GET /employees success');
            },function (error){

            });

        $scope.add = function () {
            $http.post('/insemp', {
                firstName: $scope.firstName,
                lastName: $scope.lastName
            }).then(function (response){
                $scope.employees = response.data;
                $scope.firstName = $scope.lastName = '';
                $rootScope.$emit('log', 'POST /employees success');
            },function (error){

            });
        };

        $scope.remove = function(employee) {
            $http.post('/delemp', {
                id: employee._id
            }).then(function (response){
                $scope.employees = response.data;
                $rootScope.$emit('log', 'DELETE /employees success');
            },function (error){

            });
        }
    }]);

    app.controller('logger', ['$scope', '$rootScope',
        function ($scope, $rootScope) {
            $scope.events = [];
            $rootScope.$on('log', function (event, data) {
            $scope.events.push(data.trim());
        });
    }]);

    </script>
    </body>
</html>
