<!DOCTYPE html>

<html lang="en" ng-app=app>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    <div ng-controller="main">
        <input type="text" ng-model="symbol" placeholder="Symbol">
        <input type="text" ng-model="amount" placeholder="Amount">
        <button ng-disabled="!(symbol.length && amount.length)"
            ng-click="add()">Add</button>
        <br>
        <br>
        <table>
            <tr ng-repeat="p in employees">
                <td><span>{{p.symbol}} {{p.amouny}}</span></td>
                <td><button ng-click="$parent.remove(p)">Remove</button></td>
            </tr>
        </table>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
    var baseURL = 'https://smallfolio.bitnamiapp.com/10/';

    var app = angular.module('app', []);

    app.controller('main', ['$scope', '$http', '$rootScope',
        function($scope, $http, $rootScope) {
            $scope.coins = [];
            $scope.symbol = $scope.amount = '';

        /*$http.get('/getemp').then(function (response){
                $scope.employees = response.data;
                $rootScope.$emit('log', 'GET /employees success');
            },function (error){

            });*/

        $scope.add = function () {
            var symbol = $scope.symbol;
            var amount = $scope.amount;

            var getURL = baseURL + 'portfolio_add_coin.php?token='
                + symbol + '&cur=USD'

            $http.get(getURL).then(function (response){

                console.log(response.data);
                //$scope.employees = response.data;
                //$rootScope.$emit('log', 'GET /employees success');
            },function (error){

            });

            /*$http.post('/insemp', {
                firstName: $scope.firstName,
                lastName: $scope.lastName
            }).then(function (response){
                $scope.employees = response.data;
                $scope.firstName = $scope.lastName = '';
                $rootScope.$emit('log', 'POST /employees success');
            },function (error){

            });*/
        };

        $scope.remove = function(employee) {

        }
    }]);

    </script>
    </body>
</html>
